.cloud-diagram {
	width: 100%;
	max-width: 1000px;
	border: 1px solid red;

	svg * {
		pointer-events: none;
	}
}

.cloud-diagram__item {
	pointer-events: all !important;
	cursor: pointer;

	&:hover, &:focus {
		fill: $color--green;
		opacity: 1;
	}
}